<!DOCTYPE html>
<html>
  <head>
    <title>Comic Books</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      <h1>Ken's Lame Comic Thing</h1>
      <div class="row">
        <form class="form-inline">
          <div class="form-group mb-2 mr-sm-2">
            <label class="sr-only" for="comicTitle">Title</label>
            <input type="text" class="form-control" id="comicTitle" name="title" placeholder="Title">
          </div>
          <div class="form-group mb-2 mr-sm-2">
            <label class="sr-only" for="comicWriter">Writer</label>
            <input type="text" class="form-control" id="comicWriter" name="writer" placeholder="Writer">
          </div>
          <div class="form-group mb-2 mr-sm-2">
            <label class="sr-only" for="comicArtist">Artist</label>
            <input type="text" class="form-control" id="comicArtist" name="artist" placeholder="Artist">
          </div>
          <div class="form-group mb-2 mr-sm-2">
            <label class="sr-only" for="comicLabel">Label</label>
            <input type="text" class="form-control" id="comicLabel" name="label" placeholder="Label">
          </div>
          <div class="form-group mb-2 mr-sm-2">
            <button type="button" class="btn btn-primary" onclick="send()">Add</button>
          </div>
        </form>
      </div>
      <div class="row">
        <button type="button" class="btn btn-primary" onclick="stockShelf()">Poof</button>
        <table class="table" id="bookShelf">
          <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Writer</th>
              <th scope="col">Artist</th>
              <th scope="col">Label</th>
            </tr>
          </thead>
        </table>
      </div>
    </div>

    <script type="text/javascript">
      function send() {
          var comic = {
              title: $("#comicTitle").val(),
              writer:$("#comicWriter").val(),
              artist:$("#comicArtist").val(),
              label:$("#comicLabel").val()
          }
    
          $.ajax({
              url: '/books/create',
              type: 'post',
              dataType: 'json',
              contentType: 'application/json',
              success: function (data) {
                  alert("Added comic, keep reading :)")
              },
              data: JSON.stringify(comic)
          });
      }

      function stockShelf() {
        $.getJSON( "books", function( data ) {
          var books = [];
          console.log(data)
          $.each(data.result, function(i,book){
            books.push("<tr><td>" + book.title + "</td><td>" + book.writer + "</td><td>" + book.artist + "</td><td>" + book.label + "</td></tr>")
          })

          $( "<tbody/>", {
            html: books.join("")
          }).appendTo( "#bookShelf" )
        })
      }
  </script>
    <!-- Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  </body>
</html>